.cart-page {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;

  .cart-left {
    flex: 2;
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    height: auto;
    h2 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    .info {
      font-size: 14px;
      color: #666;
      margin-bottom: 20px;
    }

    .empty {
      font-size: 16px;
      color: #444;
    }

    .cart-item {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;

      img {
        width: 120px;
        height: 90px;
        object-fit: cover;
        border-radius: 6px;
        border: 1px solid #ddd;
      }

      .item-info {
        flex: 1;

        h3 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 5px;
        }

        .desc {
          font-size: 14px;
          color: #555;
          margin-bottom: 5px;
        }

        .price {
          color: #0071e3;
          font-weight: bold;
          margin-bottom: 8px;
        }

        .item-options {
          font-size: 14px;
          color: #666;
          display: flex;
          gap: 15px;
        }
      }

      .item-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
          border: none;
          background: none;
          cursor: pointer;
          font-size: 18px;

          &.remove:hover {
            color: red;
          }

          &.like:hover {
            color: #ff4081;
          }
        }
      }
    }
  }

  .cart-right {
    flex: 1;
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;

    h2 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .summary-row {
      display: flex;
      justify-content: space-between;
      margin: 8px 0;
      font-size: 16px;

      &.total {
        font-weight: bold;
        margin-top: 15px;
        font-size: 18px;
      }
    }

    .checkout {
      width: 100%;
      padding: 14px;
      margin: 20px 0;
      background: #000;
      color: #fff;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #333;
      }
    }

    .promo {
      font-size: 14px;
      color: #0071e3;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}