.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: #5f91b9; // светло-голубой
  color: white; // белая стрелка
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #0567b2; // чуть темнее при наведении
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}