@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

/* твои кастомные стили */
body{font-family: 'Inter', sans-serif;
background-color: rgba(231, 231, 227, 1);

}
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');