
.big-words {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  text-align: center;
z-index: 1;
  font-size: clamp(40px, 12vw, 215px);
position: relative;
  .right {
    color: rgb(34, 104, 184);
  }
}


.banner-container {
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;

  .main-banner {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
z-index: 2;
    &.fade {
      opacity: 1;
    }
  }

  .thumbnails {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 12px;
    z-index: 1;

    .thumb {
      width: 150px;
      height: auto;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}